ServerLog/evento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Evento">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nome"/>
        <xs:element type="xs:string" name="nomeApplicazione"/>
        <xs:element type="xs:string" name="ip"/>
        <xs:element type="xs:string" name="data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>